---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<style>
  .archive__item {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single-teach.html %}
{% endfor %}

</br>
<h1>Degree Projects</h1>
<ul>
  <li>Game Theory [2020-21], "A Game Theoretic Analysis of Multi-Robot-On-the-Grid Environments" with Luca Gorghetto 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/GameTheory.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>Robotica Autonoma [2020-21], Homeworks 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/Robotica_Autonoma_HW1.pdf"><i class="fas fa-file-pdf"></i> HW1</a> 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/Robotica_Autonoma_HW2.pdf"><i class="fas fa-file-pdf"></i> HW2</a> 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/Robotica_Autonoma_HW3.pdf"><i class="fas fa-file-pdf"></i> HW3</a>
  </li>
  <li>Multimedia Coding [2020-21], "DPCM coding of audio files" 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/MC.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>Human Data Analytics [2019-20], "Deep Sleep with Smart Beds" with Daniele Orsuti 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/HDA.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>Web Applications [2019-20], "SkiAdvisor" with Laura Crosara, Matteo Moro, Nicola Cibin, Francesco Basana and Jane Kopytova 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/WebApp.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>Digital Forensics [2019-20], "Face Detection and Recognition system for images and videos" 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/DF.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>Computer Vision [2019-20], Homeworks 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/CV_HW1.pdf"><i class="fas fa-file-pdf"></i> HW1</a> 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/CV_HW2.pdf"><i class="fas fa-file-pdf"></i> HW2</a>
  </li>
  <li>Digital Signal Processing [2019-20], Homeworks 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/Homework1_DSP.pdf"><i class="fas fa-file-pdf"></i> HW1</a> 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/Homework2_DSP.pdf"><i class="fas fa-file-pdf"></i> HW2</a>
  </li>
  <li>Network Science [2019-20], "Noodle-Spaghetti network" with Laura Crosara and Matteo Moro. 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/noodles.pdf"><i class="fas fa-file-pdf"></i> PDF</a>
  </li>
  <li>3D Augmented Reality [2019-20], "Fruit Ninja Girl". 
    <a class="btn btn--white btn--small" href="https://elenacamuffo.github.io/download/3DAR.pdf"><i class="fas fa-file-pdf"></i> PDF</a> 
    <a class="btn btn--white btn--small" href="https://youtu.be/4Wvh0R_mIVU"><i class="fas fa-video"></i> Video</a>
  </li>
  <li>Laboratorio di Ingegneria Informatica [2018-19], "Domotic Home"</li>
  <li>Laboratorio di Internet e Multimedia [2018-19], "My Watchdog" with Daniele Orsuti</li>
</ul>
